<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
    <linearGradient id="my-cool-gradient" x2="1" y2="1">
      <stop offset="0%" stop-color="#FF61D2" />
      <stop offset="100%" stop-color="#FE9090" />
    </linearGradient>
  </svg>

<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
    {{- range site.Params.socialIcons }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
